@font-face {
  font-family: "Apple";
  src: url("./font.woff2") format("woff2");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Apple", serif;
  color: white;
}

/* Prevent elastic scrolling on ios */
html {
  overflow: hidden;
  background-color: #222222;
}

body {
  display: flex;
  justify-content: center;
}

.title {
  justify-self: center;
  margin-top: 8px;
}

#table {
  display: grid;
  min-height: 100%;
  grid-template-rows: max-content max-content 3fr 1fr;
  gap: 16px;
  padding: 8px;
  width: 100%;
  max-width: 800px;
}

#board-container {
  height: 100%;
}

#bottom-container {
  height: 100%;
}

#goal-container {
  height: 100%;
  width: 100%;
}
